.hangman__table {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hangman__table-youWon {
  color: black;
  font-size: 50px;
  text-shadow: rgba(105, 254, 71, 0.638) 2px 2px 5px;
}

.hangman__table-youLost {
  color: black;
  font-size: 50px;
  text-shadow: rgba(254, 71, 71, 0.638) 2px 2px 5px;
}

@media screen and (max-width:900px) {
  .hangman__table {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width:350px) {
  .hangman__table-youWon {
    font-size: 30px;

  }

  .hangman__table-youLost {
    font-size: 30px;
  }
}